# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Static build output
staticfiles/

# IDE settings
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db